site_name: Robot Docs
site_description: Workstation setup documentation for robotics simulation and development with Isaac Sim, Isaac ROS, and Unitree G1.
site_author: Zeul
site_url: https://zeulewan.github.io/robot-docs/
repo_url: https://github.com/zeulewan/robot-docs
repo_name: zeulewan/robot-docs
copyright: "&copy; 2026 Zeul Mordasiewicz"

theme:
  name: material
  language: en
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.code.annotate
    - content.code.select
    - content.tabs.link
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.indexes
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - toc.follow
    - header.autohide
    - search.highlight
    - search.suggest
    - search.share
  palette:
    - media: "(prefers-color-scheme)"
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  generator: false
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zeulewan/robot-docs

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
